ul
  li
    id id
    div(ng-repeat="field in schema.fields") {{field.name}}
  li 
    id(title='{{item._id}}') {{item._id | ending}}
    div(ng-repeat="field in schema.fields") {{item[field.name]}}
    a(ui-sref="update({id: item._id})") edit 
    
a(ui-sref="list") back