ul
  li
    id id
    for field in type.fields
      field.name= field.name
  li 
    id(title='{{item._id}}') {{item._id | ending}}
    for field in type.fields
      field.name {{item.#{field.name}}}
    a(ui-sref="update({id: item._id})") edit 
    
a(ui-sref="list") back