form(ng-submit='save()' role='form' name='editForm')
  ul
    //- TODO: Dynamically generate table columns
    li
      id(ng-show='item._id') id
      name name
    li 
      id(title='{{item._id}}' ng-show='item._id') {{item._id | ending}}
      name: input(ng-model='item.name' autofocus) 
  a(ui-sref="list") cancel 
  a(ng-click="save()") save  