form(ng-submit='save()' role='form' name='editForm')
  ul
    li
      id(ng-show='item._id') id
      for field in type.fields
        #{field.name}= field.name
    li 
      id(title='{{item._id}}' ng-show='item._id') {{item._id | ending}}
      each field, i in type.fields
        #{field.name}
          //-todo: fix array attributes
          input(ng-model='item.#{field.name}' autofocus=(i == 0))
  a(ui-sref="list") cancel 
  a(ng-click="save()") save 

    
  