form(ng-submit='save()' role='form' name='editForm')
  ul
    li
      id(ng-show='item._id') id
      div(ng-repeat="field in schema.fields") {{field.name}}
    li 
      id(title='{{item._id}}' ng-show='item._id') {{item._id | ending}}
      div(ng-repeat="field in schema.fields")
        input(ng-model="item[field.name]" type="{{field.dataType}}" annotate="edit")
  a(ui-sref="list") cancel 
  a(ng-click="save()") save 

    
  