form(ng-submit='save()' role='form')
  ul
    li
      id id
      name name
    li 
      id {{bear._id}}
      name: input(ng-model='bear.name') 
  a(ui-sref="list") back 
  input(type='submit' value='submit') 