ul
  li
    id id
    div(ng-repeat="field in schema.fields") {{field.name}}
  li(ng-repeat='item in items')
    id(title='{{item._id}}') {{item._id | ending}} 
    div(ng-repeat="field in schema.fields") {{item[field.name]}}
    a(ui-sref="view({id: item._id})") view 
    a(ng-click='delete(item)') delete
    
a(ui-sref='create') add new {{((schema || {}).display || {}).singular || ''}}