ul
  li
    id id
    name name
  li(ng-repeat='bear in bears')
    id(title='{{bear._id}}') {{bear._id | ending}} 
    name {{bear.name}} 
    a(ui-sref='view({id: bear._id})') view 
    a(ng-click='delete(bear)') delete 
    
a(ui-sref='create') new bear