extends layout

append head
    //- TODO: Bundle
    script(src='/js/_bower.js')
    link(rel='stylesheet' type='text/css' href='/css/_bower.css')
    base(href='/apps/#{appName}')
append content
    include partials/navigation
    h1(ng-cloak) {{appName}}
    section(ng-cloak)
      ui-view
    != js('dynamic')
  