extends layout

block head
  != js('//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.js')
  != js('//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.js')
  base(href='/')
block content
  h1= appName
  section(ng-app=appName, ng-cloak)
    ui-view
  != js('/assets/apps/bears/app.js')
  != js('/assets/apps/bears/controllers.js')
  != js('/assets/apps/bears/resources.js')
  != js('/assets/apps/bears/filters.js')
  //- != renderJs(appName)
  