doctype html
html(ng-app='dynamic')
  head
    meta(charset="utf-8")
    title= appName || title
    script(src='/js/modernizr.min.js')
    != css('style')
    block head
  body(class=(appName || title))
    block content
