doctype html
html
  head
    meta(charset="utf-8")
    title= appName || title
    script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
    != css('style')
    block head
  body(class=(appName || title))
    block content
