$blue = #00b7ff
$fontsize = 14px

link()
  text-decoration: none
  background-color: transparent
  border: none
  color: $blue
  cursor: pointer
  font-size: $fontsize !important

body
  padding: 50px
  font: $fontsize "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: $blue

[ng-cloak], .ng-cloak
  display: none !important

[ng-app]
  ul
    display: table
  li
    display: table-row
    id, name, a
      display: table-cell
      padding-right: 5px
    &:first-child
      id, name
        text-transform: uppercase
        font-weight: bold
  a, [type="submit"]
    link()